:root{
    --main-color: #ffffff;
    --secondary-color: #4472c4;
}

.city-item {
    margin: 16px 0 0 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-main {
    margin: 5px 30px 5px 30px !important;
}

.wrapper-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    margin: 5px 15px 5px 15px;
}