.city-item {
    margin-bottom: 32px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fff;
    background-color: #4472c4;
    margin: 5px 15px 5px 15px;
}