.city-list {
    list-style-type: none !important;
}

.city-item {
    margin-top: 16px;
    margin-bottom: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-main {
    margin: 5px 30px 5px 30px !important;
}

.wrapper-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fff;
    background-color: #4472c4;
    margin: 5px 15px 5px 15px;
}